@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,700&family=Lobster&family=Playfair+Display&family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin:0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: rgb(190, 136, 122);
    --secondary-color: rgb(230, 215, 80);
}
body{
    background-color:var(--primary-color);
}
html{
    font-size: 75.5%;
}
.header{
    width: 100%;
    height: 500px;
    color: var(--secondary-color);
    box-shadow: 0 5px 10px var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    
}
.header::before{
    content: "";
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(../../public/images/book1.jpg);
    clip-path:circle(60% at left 300px);
    z-index: -1;

}
.row1{
   position: absolute;
    top:10px;
    right: 150px;
    text-align: center;
}

.row1 h2{
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 15px;
    
}

.row1 img{
    margin-top: 30px;
    width: 400px;
    border-radius: 50px;
}

.search{
    display:flex;
    align-items: center;
    justify-content: center;
}

.search input{
outline: 0;
border-radius: 10px;
width: 300px;
height: 35px;
padding: 0 0.5rem;
font-size: 15px;
font-weight:bold;
margin:0 2px;
}

.search button {
    background-color: #f6ef90;;
    color:  rgb(122, 70, 29);
    font-weight: bolder;
    font-size: larger;
    border: 1px solid  #203e41;;
    outline: none;
    width: auto;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0 10px;
  }
  
  .search button:hover,
  .search button:active {
    background-color: white;
    color: brown;
    border: 1px solid  #764153;;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
  }

.container{
    
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;

    
}
.card{
    background-color: rgb(230, 183, 108);
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 10px;
    box-shadow: 0 5px 5px rgba(221, 174, 114, 0.5);
    transition: 0.5s;
    text-align: center;
    position: relative;
    width: 200px;
   
}

.card:hover{
    transform: scale(0.9);
    background-color: rgb(251, 255, 240);
}


.card img{
    width: 100%;
    height: 200px;
    border-radius: 1rem 1rem 0 0;
}

.card .bottom{
    display: flex;
    flex-direction: column;
}

.card .bottom .title{
    font-size: 14px;
    margin-bottom: 12px;
   
}
.card .bottom .amount{
    position: relative;
    bottom: 10px;
    
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: bold;
    padding: 0.2rem;
}

.overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top:0;
    bottom:0;
    right: 0;
    background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1));
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.overlay-inner{
    background: white;
    width: 700px;
    height: 550px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size:1.3rem

}

.overlay-inner .close{
    position: absolute;
    top:1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
}

.overlay-inner .inner-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.overlay-inner .inner-box img{
    margin-right: 20px;
    width: 150px;
    height: 200px;
}
.overlay-inner .inner-box h3{
 margin-top: 10px;
 color:green;
}

.overlay-inner .inner-box h4{
 
    color:blue;
   }

.overlay-inner .inner-box button{
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(43, 114, 114);
    color:white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}

.overlay-inner  .description{
  margin-top: 2rem;
  text-align: justify;
  font-size: 13px;
}

@media only screen and (max-width: 600px) {
    .header{
        background-color: aqua;
     
    }
  .row1{
  
    top:10px;
    right: 50px;
    text-align: center;
  }
}